.blueCalendarSkin_CalendarTable {
		width:98%;
    padding: 0;
    border-style:solid;
		border-width:1px;
		border-color:#6699FF;
    background-color: #6699FF;
}

.blueCalendarSkin_Title {
    font-family: Arial, Helvetica, sans-serif;
		font-size: small;
		font-weight: bold;
		color: #000000;
		background-color: #B3C9F5;
    text-align: center;
    vertical-align: middle;
}
.blueCalendarSkin_MonthHeading {
    font-family: Arial, Helvetica, sans-serif;
		font-size: small;
		font-weight: bold;
		color: #000000;
		background-color: #FFFFBB;
    text-align: center;
    vertical-align: middle;
}

.blueCalendarSkin_WeekdayHeading {
    text-align: center;
    vertical-align: middle;
    font-family: arial;
    font-size: small;
    font-weight: bold;
    background-color: #f0f0f0;
}

.blueCalendarSkin_NotCurrentMonthDayCell {
    background-color: #BBCDE4;
    vertical-align: top;
    height: 50px;
    width: 14%;
}

.blueCalendarSkin_NotCurrentMonthCellTable {
    border-collapse: collapse;
    width: 100%
}

.blueCalendarSkin_NotCurrentMonthDay {
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #4877D7;
    color: #FFFFFF;
    font-size: small;
    font-family: arial;
}

.blueCalendarSkin_NotCurrentMonthEvents {
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    font-size: small;
    font-family: arial;
}
.blueCalendarSkin_NotCurrentMonthSpecialEvents {
    text-align: right;
    vertical-align: middle;
    color: #000000;
    font-size: 10px;
    font-family: arial;
}

.blueCalendarSkin_NotCurrentMonthEventLink {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

.blueCalendarSkin_NotCurrentMonthEventLink:visited {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.blueCalendarSkin_NotCurrentMonthEventLink:hover {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #3366CC;
	text-decoration: underline;
}

.blueCalendarSkin_WeekdayDayCell {
    background-color: #ffffff;
    vertical-align: top;
    height: 50px;
    width: 14%;
}

.blueCalendarSkin_WeekdayCellTable {
    border-collapse: collapse;
    width: 100%
}

.blueCalendarSkin_WeekdayDay {
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #4877D7;
    color: #ffffff;
    font-size: small;
    font-family: arial;
}

.blueCalendarSkin_WeekdayEvents {
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    font-size: small;
    font-family: arial;
}
.blueCalendarSkin_WeekdaySpecialEvents {
    text-align: right;
    vertical-align: middle;
    color: #000000;
    font-size: 10px;
    font-family: arial;
}

.blueCalendarSkin_WeekdayEventLink {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

.blueCalendarSkin_WeekdayEventLink:visited {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.blueCalendarSkin_WeekdayEventLink:hover {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #3366CC;
	text-decoration: underline;
}

.blueCalendarSkin_WeekendDayCell {
    background-color: #EAF2FC;
    vertical-align: top;
    height: 50px;
    width: 14%;
}

.blueCalendarSkin_WeekendCellTable {
    border-collapse: collapse;
    width: 100%
}

.blueCalendarSkin_WeekendDay {
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #4877D7;
    color: #ffffff;
    font-size: small;
    font-family: arial;
}

.blueCalendarSkin_WeekendEvents {
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    font-size: small;
    font-family: arial;
}
.blueCalendarSkin_WeekendSpecialEvents {
    text-align: right;
    vertical-align: middle;
    color: #000000;
    font-size: 10px;
    font-family: arial;
}

.blueCalendarSkin_WeekendEventLink {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

.blueCalendarSkin_WeekendEventLink:visited {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.blueCalendarSkin_WeekendEventLink:hover {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #3366CC;
	text-decoration: underline;
}

.blueCalendarSkin_TodayDayCell {
    background-color: #FFFFCC;
    vertical-align: top;
    height: 50px;
    width: 14%;
}

.blueCalendarSkin_TodayCellTable {
    border-collapse: collapse;
    width: 100%
}

.blueCalendarSkin_TodayDay {
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #4877D7;
    color: #ffffff;
    font-size: small;
    font-family: arial;
}

.blueCalendarSkin_TodayEvents {
    text-align: left;
    vertical-align: top;
    color: #FFFFFF;
    font-size: small;
    font-family: arial
}

.blueCalendarSkin_TodaySpecialEvents {
    text-align: right;
    vertical-align: middle;
    color: #000000;
    font-size: 10px;
    font-family: arial;
}

.blueCalendarSkin_TodayEventLink {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}


.blueCalendarSkin_TodayEventLink:visited {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.blueCalendarSkin_TodayEventLink:hover {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #3366CC;
	text-decoration: underline;
}

.blueCalendarSkin_PrevNextLink {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #003366;
	background-color: #FFFF33;
	text-decoration: underline;	
}

.blueCalendarSkin_PrevNextLink:visited {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: #003366;
	background-color: #FFFF33;
	text-decoration: underline;
}
.blueCalendarSkin_PrevNextLink:hover {
	font-family: arial;
	font-size: small;
	font-weight: bold;
	color: red;
	background-color: #FFFF33;
	text-decoration: underline;
}
